<!DOCTYPE html ng-app='textSwap'>
<html>
  <head>
    <meta charset="utf-8">
    <title>Text Swap | Textbook Exchange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="icon" href="/img/book.png">
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">TEXT SWAP</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/auth/twitter">LOGIN</a></li>
            <li><a href="/auth/logout">LOGOUT</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div>
      <h1>Hello World</h1>

    </div>

    <script src="/packages/jquery/dist/jquery.min.js"></script>
    <script src="/packages/angular/angular.min.js"></script>
    <script src="/packages/angular-ui-router/release/angular-ui-router.min.js"></script>
    <link rel="stylesheet" href="/packages/materialize/dist/css/materialize.min.css">
    <script src="/packages/materialize/dist/js/materialize.min.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
