<!DOCTYPE html>
<html ng-app="textSwap">
  <head>
    <meta charset="utf-8">
    <title>Text Swap | Trade Texbooks Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="icon" href="/img/book.png">
  </head>
  <body>
    <div class="navbar-fixed" ng-controller="navCtrl">
      <nav class="teal lighten-2">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo lime-text text-lighten-5">TEXT <span class='orange-text text-darken-1'>SWAP</span></a>
          <ul class="right hide-on-med-and-down">
            <% if (thisUserData) { %>
              {{setCurrentUser()}}
              <li><a target="_self" ui-sref="showUser({username: currentUserData.twitter.username})">Dashboard</a></li>
              <li><a target="_self" href="/auth/logout">Logout</a></li>
            <% } else { %>
              {{nullCurrentUser()}}
              <li><a target="_self" href="/auth/twitter">Login</a></li>
            <% } %>
          </ul>
        </div>
      </nav>
    </div>
    <div ui-view></div>

    <script src="/packages/jquery/dist/jquery.min.js"></script>
    <script src="/packages/angular/angular.min.js"></script>
    <script src="/packages/angular-ui-router/release/angular-ui-router.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/packages/materialize/dist/css/materialize.min.css">
    <script src="/packages/materialize/dist/js/materialize.min.js"></script>
    <script src="/packages/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/packages/sweetalert/dist/sweetalert.css">
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
