<div class="container">
<div class='row books'>
  <div ng-repeat="book in books">
      <div class="card col s6 l3 m5 offset-l1 offset-m1 offset-s3 book-container" ng-if="!(currentUserData.twitter.username.toLowerCase() === book.ownerUsername.toLowerCase())">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="book-img activator" src="{{book.img}}">
        </div>
        <div class="divider bookcard"></div>

        <div class="card-content">
         <script>
           $(document).ready(function(){
             $('.tooltipped').tooltip({delay: 50});
           });
          </script>
          <span class="card-title activator grey-text text-darken-4">{{book.title}}</span>
          <i class="material-icons right activator orange600 tooltipped" data-position="bottom" data-delay="20" data-tooltip="View Book Info." style="cursor: pointer;">more_vert</i>
        </div>
        <div class="divider bookcard"></div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{book.title}}<i class="material-icons right orange600">close</i></span>
          <div class="divider"></div>
          <ul>
            <li><strong>Author:</strong> {{book.author}}</li>
            <li><strong>Edition:</strong> {{book.edition}}</li>
            <li><strong>Condition:</strong> {{book.condition}}</li>
            <li><strong>Subject:</strong> {{book.subject}}</li>
          </ul>
          <div class="divider orange darken-1"></div>
          <div class="contactuser">Contact {{book.ownerDisplayName}} for a trade</div>
          <div class='trade-button'>
            <span><a ui-sref="initiateTrade({bookId: book._id})" class="waves-effect waves-light btn">Offer Trade</a></span>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
