<div ng-controller="mainCtrl" class="tags-controller">
  <div class='row'>
    <div class="card small col s6">
      <div class='card-content'>
        <span class="card-title activator grey-text text-darken-4">Login Now</span>
        <p><a target="_self" href="/auth/twitter">Login</a></p>
      </div>
    </div>
     <div class="card small col s6">
      <div class='card-content'>
        <span class="card-title activator grey-text text-darken-4">Trade Books</span>
        <p><a ui-sref="addBook" >Submit a Book</a></p>
      </div>
    </div>
     <div class="card small col s6">
      <div class='card-content'>
        <span class="card-title activator grey-text text-darken-4">Browse books</span>
        <p><a ui-sref="findBooks">Browse</a></p>
      </div>
    </div>
  </div>
</div>
