<div class="tags-controller home-container">
  <div class="opacity-wrapper">
    <div class='row'>
     <div class="card small col m4 s10 offset-s1 offset-m1 splash-card">
      <div ng-hide='{{currentUser}}' class="splash-login">
        <span class="grey-text text-darken-4 login-text card-title">Login now</span>
        <br>
        <a target="_self" href="/auth/twitter" class="waves-effect waves-light btn">Login</a>
      </div>
      <div ng-show='{{currentUser}}' class="splash-view">
        <span class="card-title activator grey-text text-darken-4 view-text">View your dashboard</span>
        <br>
        <a ui-sref="showUser({username: currentUserData.twitter.username})" class="waves-effect waves-light btn">Dashboard</a>
      </div>
      <div class="splash-or">
        <h3>OR</h3>
      </div>
      <div class="splash-browse">
        <span class="grey-text text-darken-4 browse-text card-title">Browse books</span>
        <br>
        <a ui-sref="findBooks" class="waves-effect waves-light btn">Browse</a>
      </div>
      </div>
      <div class="textswap-wrapper col offset-m1 m6 s12">
        <h2 class="textswap-intro">TextSwap</h2>
        <div>
          <div class="divider orange darken-1"></div>
        <h3>Online marketplace to trade your college textbooks</h3>
        </div>
      </div>
    </div>
  </div>
</div>
