<div class="profile-container">
  <div class="row dashboard">
    <div class="col m4 dashboard">
      <img class="profile-image" ng-src="{{user.twitter.profileImageUrl}}" alt="Profile"/>
      <ul class="collection with-header">
        <li class='collection-header'>
          <h4 class="profile-displayname">
            {{user.twitter.displayName}}
          </h4>
        </li>
        <li class='collection-item'>
            @&nbsp{{user.twitter.username}}
        </li>
        <li class='collection-item'>
            {{user.twitter.location}}
        </li>
      </ul>
      <div class='profile-buttons' ng-show='currentUser && currentUserData.twitter.username === user.twitter.username'>
        <div class='dash-links'>
          <a ui-sref='addBook' class="waves-effect waves-teal btn">Submit Book</a>
        </div>
        <div class='dash-links'>
          <a ui-sref='findBooks' class="waves-effect waves-teal btn">Browse Books</a>
        </div>
      </div>
    </div>
    <div class="col l8 m12 s12 aval-books">
      <h4>Available Books:</h4>
      <ul class="collection">
        <li ng-repeat="book in userBooks track by $index" class="collection-item avatar">
          <img ng-src="{{book.img}}" alt="" class="circle">
          <span class="tradetitle">{{book.title}}</span>
          <p>{{book.author}} <br>
            Edition:&nbsp{{book.edition}}
          </p>
          <span ng-show='currentUser'>
            <script>
              $(document).ready(function(){
                $('.tooltipped').tooltip({delay: 20});
              });
            </script>
            <span ng-hide="currentUserData.twitter.username === user.twitter.username">
              <a style="cursor: pointer;" ui-sref="initiateTrade({bookId: book._id})" class="waves-effect waves-teal btn-floating secondary-content tooltipped"data-position="bottom" data-delay="50" data-tooltip="Make a Swap"><i class="material-icons">swap_horiz</i></a>
            </span>
            <span ng-show='currentUserData.twitter.username === user.twitter.username'><a ng-click="deleteBook(book, $index)" class="waves-effect waves-teal btn-floating red secondary-content tooltipped" data-position="bottom" data-delay="20" data-tooltip="Delete book"><i class="material-icons">delete</i></a></span>
          </span>
        </li>
      </ul>
    </div>

    <div class="col l6 s12" ng-show="receivedTrades">
      <h4 class="title-available">Received Trades:</h4>
      <ul class="collection">
        <li class="collection-item"  ng-repeat="receivedTrade in receivedTrades track by $index">
          <span class="title" style="display: inline-block;">
            <p>Sending: {{receivedTrade.receiverBookTitle}} <br>
            Receiving: {{receivedTrade.initiatorBookTitle}}
          </p>
          </span>
          <span ng-show='currentUser'>
            <script>
              $(document).ready(function(){
                $('.tooltipped').tooltip({delay: 20});
              });
            </script>
            <span><a ng-click="deleteTrade(receivedTrade, $index, 'received')" class="btn-floating btn-small waves-effect waves-light red secondary-content trash-button tooltipped" data-position="bottom" data-delay="20" data-tooltip="Refuse Swap" style="margin-top: 7px !important;"><i class="material-icons">delete</i>&nbsp</a></span>
            <span><a ng-click="acceptTrade(receivedTrade, $index)" class="btn-floating btn-small waves-effect waves-light green secondary-content trash-button tooltipped"data-position="bottom" data-delay="50" data-tooltip="Accept Swap" style="margin-top: 7px !important;"><i class="material-icons">add</i></a></span>
          </span>
        </li>
      </ul>
    </div>
     <div class="col l4 m8 s12" ng-show="sentTrades">
       <h4 class="title-available">Sent Trades:</h4>
      <ul class="collection">
        <li class="collection-item"  ng-repeat="sentTrade in sentTrades track by $index">
          <span class="title" style="display: inline-block;">
          <p>Sending: {{sentTrade.initiatorBookTitle}} <br>
            Receiving: {{sentTrade.receiverBookTitle}}
          </p>
          </span>
          <span ng-show='currentUser'>
            <script>
              $(document).ready(function(){
                $('.tooltipped').tooltip({delay: 20});
              });
            </script>
            <span><a ng-click="deleteTrade(sentTrade, $index, 'sent')" id='trash-button' class="btn-floating btn-small waves-effect waves-light red secondary-content tooltipped"data-position="bottom" data-delay="50" data-tooltip="Delete this swap" style="margin-top: 7px !important;"><i class="material-icons">delete</i></a></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
