<div class='container'>
   <div class="row">
          <div class="col s12 m4">
            <h4>Trading For:</h4>
            <div class="card">
              <div class="card-image trade">
                <img ng-src="{{requestedBook.img}}" class="trade-image">
              </div>
              <div class="divider trade-info"></div>
              <div class="card-content">
                <p class='tradetitle'>{{requestedBook.title}}</p>
                <p>{{requestedBook.author}}</p>
              </div>
            </div>
          </div>
          <div class="col s12 m4 borders">
            <h5 class='trade-title info'>Current Trade</h5>
            <div class="divider bookcard"></div>
            <p>Receiving: {{requestedBook.title}}</p>
            <p>Sending: {{targetedBook.title || "Select a book"}}</p>
            <span ng-hide="showBookList"><a ng-click='createTrade()' class="waves-effect waves-teal btn secondary-content">Create Trade</a></span>
          </div>
          <div ng-hide="showBookList" class="col s12 m4">
            <h4>Trading:</h4>
            <div class="card">
              <div class="card-image trade">
                <img ng-src="{{targetedBook.img}}">
              </div>
              <div class="divider trade-info"></div>
              <div class="card-content">
                <p class='tradetitle'>{{targetedBook.title}}</p>
                <p>{{targetedBook.author}}</p>
              </div>
            </div>
          </div>
          <div ng-show='showBookList' class="col s12 m4">
              <h4>Your Books:</h4>
              <ul class="collection">
                <li ng-repeat="book in currentUserBooks track by $index" class="collection-item avatar">
                  <img ng-src="{{book.img}}" alt="" class="circle">
                  <span class="title">{{book.title}}</span>
                  <p>{{book.author}} <br>
                    {{book.edition}}
                  </p>
                  <span ng-show='currentUser'>
                    <span>
                      <script>
                        $(document).ready(function(){
                          $('.tooltipped').tooltip({delay: 20});
                        });
                      </script>
                      <a ng-click='targetBook(book)' class="waves-effect waves-teal btn-floating btn-small secondary-content tooltipped" data-position="top" data-delay="50" data-tooltip="Make a Trade"><i class="material-icons">swap_horiz</i></a>
                    </span>
                  </span>
                </li>
              </ul>
          </div>
    </div>
  </div>
</div>
