body {
  background: #e8e8e8;
/*  margin-right: 70px !important;*/
  font-weight: 200;
}
button {
  padding-bottom: 2px;
}
h1, h2, h3, h4, h5 {
  font-weight: 300 !important;
}
.home-container {
  background-image: url(/img/lib.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 92vh;
}
.card .card-content .card-title {
  line-height: 4px !important;
  font-size: 18px;
  padding-top: 10px;
}
.book-container {
  height: 380px;
}
.book-img {
  height: 290px;
  width: 200px;
  padding-top: 10px;
}
.book-ico {
  margin-top: 5px;
}
.profile-image {
  width: 200px;
}
.profile-container {
  margin-top: 20px;
  margin-left: 30px;
}
.material-icons {
  font-size: 20px;
}
.row.books {
  padding-top: 30px;
}
.trade-button {
  margin-top: 40px;
}
.splash-card {
  margin-top: 25vh !important;
  background-color: rgba(219, 221, 222, 0.79) !important;
}
.splash-login, .splash-view {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2.5vh;
}
.splash-browse {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2.5vh;
}
.splash-or {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  text-align: center;
  color: gray;
}
.login-text, .view-text, .browse-text {
  font-size: 2rem;
}
.opacity-wrapper {
  background-color: rgba(0, 0, 0, 0.53) !important;
  width: 100vw;
  height: 92vh;
}
.textswap-wrapper {
  color: rgba(221, 247, 242, 0.78);
}
.textswap-wrapper {
  margin-top: 25vh !important;
}
.btn i {
  line-height: normal !important;
}

.dashboard {
  height: 92vh;
}
.dash-links a {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}
.collection.with-header {
  width: 200px;
}
.brand-logo {
  margin-left: 20px;
}
.trash-button {
  margin-top: 7px !important;
}
