body {
  background: #e8e8e8;
/*  margin-right: 70px !important;*/
  font-weight: 200;
}
button {
  padding-bottom: 2px;
}
h1, h2, h3, h4, h5 {
  font-weight: 200 !important;
}
.home-container {
  background-image: url(/img/lib.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 92vh;
}
.card .card-content .card-title {
  line-height: 4px !important;
  font-size: 18px;
  padding-top: 10px;
}
.book-container {
  height: 380px;
}
.book-img {
  width: 150px;
  height: 250px;
  padding-top: 10px;
}
.book-ico {
  margin-top: 5px;
}
.profile-image {
  width: 200px;
}
.profile-container {
  margin-top: 20px;
  margin-left: 30px;
}
.material-icons {
  font-size: 20px;
}
.row.books {
  padding-top: 30px;
}
.trade-button {
  margin-top: 40px;
}
.splash-card {
  margin-top: 25vh !important;
  background-color: rgba(219, 221, 222, 0.79) !important;
}
.splash-login, .splash-view {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2.5vh;
}
.splash-browse {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2.5vh;
}
.splash-or {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  text-align: center;
  color: gray;
}
.login-text, .view-text, .browse-text {
  font-size: 2rem;
}
.opacity-wrapper {
  background-color: rgba(0, 0, 0, 0.53) !important;
  width: 100vw;
  height: 92vh;
}
.textswap-wrapper {
  color: rgba(221, 247, 242, 0.78);
}
.textswap-wrapper {
  margin-top: 25vh !important;
}
.btn i {
  line-height: normal !important;
}

/*
.dashboard {
  height: 92vh;
}
*/
.dash-links a {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}
.collection.with-header {
  width: 200px;
}
.brand-logo {
  margin-left: 20px;
}
#trash-button {
  margin-top: 7px !important;
}
.material-icons.orange600 { color: rgb(251, 154, 0); }
.divider.bookcard {
  margin-top: 15px;
}
.card-image.trade {
  width: 200px !important;
  height: 280px !important;
  margin: auto;
  margin-top: 20px !important;
}
.trade-image {
  width: 99%
}
.col.borders {
  height: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  border-right: 1px inset white !important;
  border-left: 1px inset white;
  padding-bottom: 50px;
}
.trade-title.info {
  margin-top: 50px;
}
.divider.trade-info {
  margin-top: 15px;
  border-top-color: color: rgb(251, 154, 0);
}
.mobile-headline {
  margin-top: 10px;
}
.mobile-headline {
  color: rgba(221, 247, 242, 0.78);
}
.contactuser{
  margin-top: 20px;
}
.tradetitle {
  font-weight: 400;
}
/*
.aval-books {
  margin-top: 20px;
}
*/
